html, body, #root, .App {
    height: 100%;
  }

  .nav-bar{
   width: 100%;;
  }

  .btn-default {
                background-color: #f2c611!important;
                a {
                     color: white !important;
                     }

            }