.settings{
    height:100%;
    width:100%;
    border:2px solid black;
}
.head{
    text-align: center;
    margin-top:3%;
    font-weight:bold;
    font-size: 30px;
}
.col{
    border:2px solid black;

}
label{
    font-weight:bold;
}